{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "requirePragma": true,
  "tabWidth": 4,
  "semi": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "*.js",
        "*.js.flow"
      ],
      "options": {
        "parser": "hermes"
      }
    }
  ]
}